.status {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.connected {
    background-color: #00ff21;
}

.disconnected {
    background-color: #d9d9d9;
}

.bar-status {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
